{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-5">D&Dojo</h1>
    <p class="mt-4">
        Ce site vous est proposé par le président du syndicat : Cubi&D
    </p>
</div>
{% endblock %}
