{% extends 'base.html.twig' %}

{% block title %}Syndicat des casters{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5">Syndicat des corps à corps</h1>
        <p class="mt-4">
            Ici les « Corp à Corp » pourront, si ils le souhaitent, faire leurs réclamations de classe et tout autres demandes lié au système du Corp à Corp  tel que comme hier les distance de saut et autre...
        </p>
    </div>
{% endblock %}