{% extends 'base.html.twig' %}

{% block title %}Syndicat des casters{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5">Syndicat des casters</h1>
        <p class="mt-4">Suite aux différents liés au scam magique, trouvez cette page permettant de porter réclamation sur quelconque règle liée à la condition de « caster / mage ».</p>
        <p>cordialement le shien</p>
    </div>
{% endblock %}