{% extends 'base.html.twig' %}

{% block title %}Syndicat des casters{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5">Revendications</h1>
        <p class="mt-4">
            Sur cette page, n’hésitez pas porter réclamation sur quelconque sujets que vous trouverez litigieux
        </p>
        <img src="/img/opinion.jpg" alt="Que faire de votre opinion">
    </div>
{% endblock %}